# Default ignored files
/shelf/
/workspace.xml
/aws.xml
/compiler.xml
/encodings.xml
/dbnavigator.xml
/index.pb
/jarRepositories.xml
/jpa-buddy.xml
/misc.xml
/uiDesigner.xml
/vcs.xml
/TEST-CadastrarPessoaTest.xml
